* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #fff;
  background-color: #fff;
}
hide {
  display: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #00C1DE;
}
.hover {
  cursor: pointer;
}
.mainWrapper {
  width: 1000px;
  margin: 0 auto;
  /* overflow: hidden; */
}
.tag {
  line-height: 20px !important;
  height: 20px !important;
}
